// Define variables
$color-green-normal: #40b9ae;
$color-green-light: #3ad88f;
$color-green-darker: #40b9ae;
$color-green-lighter: rgba($color-green-darker, .1);
$color-black-normal: #000;
$color-black-light: #222;
$color-black-lighter: #484a56;
$color-grey-normal: #aab2bd;
$color-grey-dark: #464a54;
$color-grey-lightles: #ccd1d9;
$color-grey-light: #e6e9ed;
$color-grey-lighter: #e6e9ed;
$color-grey-lightest: rgba($color-grey-dark, .1);
$color-white-normal: #fff;
$color-white-light: #f4f4f4;
$color-white-lighter: #fafafa;
$color-white-dark: #f5f7fa;
$color-white-darker: #f4f5f7;
$color-red-normal: #ff3455;
$color-red-lighter: rgba($color-red-normal, .1);
$color-orange-normal: #ff6b64;
$color-yellow-normal: #ffb800;
$color-yellow-light: rgba($color-yellow-normal, .1);
$color-transparent: rgba($color-yellow-normal, 0);
$color-clear-gray: rgba(240, 240, 240, .8);
$color-scrollbar: rgba($color-grey-dark, .5);
$color-gray-normal: #f0f0f0;
$color-clear-gray: rgba($color-gray-normal, .8);
$color-clear: rgba(0, 0, 0, 0);
$color-clear-half: rgba(0, 0, 0, .5);
$color-clear-per20: rgba(0, 0, 0, .2);
$color-gray-half: #f8f8f8;
